/*|||||||||||||||||||||||||||||
||| MOBILE-PORTRAIT/DEFAULT |||
|||||||||||||||||||||||||||||*/
#profile-container{
    background: #f0f0f0;
    text-align: center;
    padding: 0 1% 2%;
}
.who_we_are{
    background: url('https://dev.myclassof.com/public/images/top.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 320% 90%;
    border-bottom-right-radius: 320% 90%;
}

.color-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(5,117,230,0.8), rgba(0,242,96,0.8));
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    background-size: 200% 100%;
    position: absolute;
    border-bottom-left-radius: 320% 90%;
    border-bottom-right-radius: 320% 90%;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.profile-head{
    text-align: -webkit-center;
    background: white;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2% 0;
    box-shadow: 0 1px 30px rgba(0,0,0,.1);
}

.image-container{
    width: max-content;
    position: relative;
}

.profile-image{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rgb(5,117,230);
}

.edit-button{
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 17%;
    padding: 5px;
    border-radius: 50%;
    background: #f0f0f0;
}

.username{
    font-size: 1em;
}

/*.grid-body{*/
/*    display: grid;*/
/*    grid-template: 'details questions questions';*/
/*}*/

.profile-details{
    /*grid-area: details;*/
    text-align: left;
    background: white;
    border-radius: 20px;
    margin: 15px 0 0;
    padding: 15px;
    /*height: 300px;*/
    box-shadow: 0 1px 30px rgba(0,0,0,.1);
}

.profile-details div{
    padding: 2% 0;
}

.label-text{
    color: rgba(0,0,0,.8);
    font-size: 12px;
}

.section-title{
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(0,242,96);
    margin: 0 10% 4%;
}

.questions{
    /*grid-area: questions;*/
    background: white;
    border-radius: 20px;
    margin: 15px 0 0;
    padding: 15px;
    box-shadow: 0 1px 30px rgba(0,0,0,.1);
}

.each-question{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 0;
    text-align: left;
    border-bottom: 2px solid rgba(0,0,0,.5);
}

.question{
    font-size: 1em;
    color: rgba(0,0,0,.8);
}

.answer{
    font-size: 1.1em;
    padding-left: 10%;
}

/* Editing popup */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.popup {
    margin: 30% auto;
    padding: 30px 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

/*||||||||||||||||||||||
||| MOBILE-LANDSCAPE |||
||||||||||||||||||||||*/
@media (min-width: 480px) {
    
}

/*|||||||||||||||||||||
||| TABLET-PORTRAIT |||
|||||||||||||||||||||*/
@media (min-width: 768px) {
    #profile-container{
        padding: 0 5% 2%;
    }
    
    .grid-body{
        display: grid;
        grid-template: 'details questions questions';
    }
    
    .profile-details{
        grid-area: details;
        margin: 15px 10px 0 0;
        height: 300px;
    }
    
    .questions{
        grid-area: questions;
        margin: 15px 0 0 10px;
    }
    
    .popup {
        margin: 15% auto;
        width: 40%;
    }
}

/*||||||||||||||||||||||
||| TABLET-LANDSCAPE |||
||||||||||||||||||||||*/
@media (min-width: 992px) {
    
}

/*||||||||||||
||| LAPTOP |||
||||||||||||*/
@media (min-width: 1200px) {
    #profile-container{
        padding: 0 15% 2%;
    }
}